<h1>Editing engineer</h1>

<% form_for(@engineer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fname %><br />
    <%= f.text_field :fname %>
  </p>
  <p>
    <%= f.label :lname %><br />
    <%= f.text_field :lname %>
  </p>
  <p>
    <%= f.label :years_of_experience %><br />
    <%= f.text_field :years_of_experience %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @engineer %> |
<%= link_to 'Back', engineers_path %>