<h1>New engineer</h1>

<% form_for(setup_engineer(@engineer)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fname %><br />
    <%= f.text_field :fname %>
  </p>
  <p>
    <%= f.label :lname %><br />
    <%= f.text_field :lname %>
  </p>
  <p>
    <%= f.label :years_of_experience %><br />
    <%= f.text_field :years_of_experience %>
  </p>

  <fieldset>
	<legend>Add a Project Assignment</legend>
	
	<% f.fields_for :project_assignments do |pa| %>

	    <%= pa.label :sdate %>
	    <%= pa.text_field :sdate %>
	
	     <%= pa.label :edate %>
		 <%= pa.text_field :edate %>

	    <% unless pa.object.new_record? %>
	      <%= pa.check_box '_delete' %>
	      <%= pa.label '_delete', 'Remove' %>
	    <% end %>
	
		
	    <%= pa.label :name, "Project Name" %>
        <%= pa.collection_select(:name, Project.all, :name, :name) %>


	 <% end %>
  </fieldset>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', engineers_path %>