<h1>New resource</h1>

<% form_for(@resource) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :engineer_id %><br />
    <%= f.text_field :engineer_id %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', resources_path %>