<h1>Listing engineers</h1>


<div id='engineer-list'>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Years of experience</th>
  </tr>

<% @engineers.each do |engineer| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%=h engineer.fname %></td>
    <td><%=h engineer.lname %></td>
    <td><%=h engineer.years_of_experience %></td>

    <td class="list-actions">
    <%= link_to 'Show', engineer %><br/>
    <%= link_to 'Edit', edit_engineer_path(engineer) %><br/>
    <%= link_to 'Destroy', engineer, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

</div>


<br />

<%= link_to 'New engineer', new_engineer_path %>