
  <div class="group">
    <%= f.label :fname, "Fname", :class => :label %>
    <%= f.text_field :fname, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :lname, "Lname", :class => :label %>
    <%= f.text_field :lname, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :years_of_experience, "Years_of_experience", :class => :label %>
    <%= f.text_field :years_of_experience, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', engineers_path %>
</div>